<div class="row">
    <div class="col-md-8 col-md-offset-2" style="margin-top:60px;">
        <form class="well" action="~/Home/DoLogin" method="post">
            <label>Username</label>
            <input name="username" type="text" value="" class="form-control" />
            <br />
            <label>Password</label>
            <input name="password" type="password" value="" class="form-control" />
            <br />
            <br />
            <button name="submit" value="login" class="btn btn-primary">Login</button>
            <br />
        </form>
    </div>
</div>