@{
    ViewBag.Title = "Home Page";
}
<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
<div class="row">
    <form action="./DoLogin" method="post" class="well col-lg-8 col-lg-offset-2" style="margin-top:60px;">
        <label>Username</label>
        <input type="text" name="username" value="" class="form-control" />
        <label>Password</label>
        <input type="password" name="password" value="" class="form-control" />
        <input type="submit" name="" value="Log In" class="btn btn-primary" />
    </form>
    <div>@ViewBag.Message</div>
</div>