@{
    ViewBag.Title = "Home Page";
}
<div class="row" style="margin-top:80px;">
    <div class="col-lg-8 col-lg-offset-2">
        <legend>Login</legend>
        <form class="well" action="./Home/Login" method="post">
            <legend><small>Username</small></legend>
            <input type="text" name="username" value="" class="form-control" />
            <br />
            <legend><small>Password</small></legend>
            <input type="password" name="password" value="" class="form-control" />
            <br />
            <input type="submit" name="" value="Login" class="btn btn-primary" />
        </form>
    </div>
</div>